@model PT_SmartBit.Modelos.ViewModels.ConsultaMovimientosVM

@{
    ViewData["Title"] = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row border-bottom">
        <div class="col-lg-6">
            <h2 class="text-primary"> Lista de movimientos. </h2>
        </div>        
    </div>

    <br />

    <div class="p-4 border rounded bg-light">
        <table id="tblDatos" class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th colspan="5">Gastos</th>
                </tr>
                <tr class="table-dark">
                    <th>Fecha</th>
                    <th>Fondo Monetario</th>
                    <th>Observaciones</th>
                    <th>Nombre Comercio</th>
                    <th>Tipo Documento</th>
                    <th>Tipo de Gasto</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.GastoDetalles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(d => item.GastoEncabezado.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(d => item.GastoEncabezado.FondoMonetario.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(d => item.GastoEncabezado.Observaciones)
                        </td>
                        <td>
                            @Html.DisplayFor(d => item.GastoEncabezado.NombreComercio)
                        </td>
                        <td>
                            @Html.DisplayFor(d => item.GastoEncabezado.TipoDocumento)
                        </td>
                        <td>
                            @Html.DisplayFor(d => item.TipoGasto.Nombre)
                        </td>
                        <td data-currency="COP">
                            @Html.DisplayFor(d => item.Monto)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="p-4 border rounded bg-light">
        <table id="tblDatos" class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th colspan="5">Depositos</th>
                </tr>
                <tr class="table-dark">
                    <th>Fecha</th>
                    <th>Fondo Monetario</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Depositos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(d => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(d => item.FondoMonetario.Nombre)
                        </td>
                        <td data-currency="COP">
                            @Html.DisplayFor(d => item.Monto)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <script>
            document.querySelectorAll('[data-currency="COP"]').forEach(element => {
              const valor = parseFloat(element.textContent);
              const formatter = new Intl.NumberFormat('es-CO', {
                style: 'currency',
                currency: 'COP',
                minimumFractionDigits: 0,
                maximumFractionDigits: 2
              });
              element.textContent = formatter.format(valor);
            });
        </script>
    </div>

</div>

